{{ template "header" }}

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">

            <h1>Resources</h1>
            <div class="row">
                {{ if ne .css "" }}
                    <div class="alert alert-{{.css}} alert-dismissible fade show">
                        {{.mensaje}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{ end }}
                <h3> Generar ficheros: </h3>
                <table class="align-middle">
                    <tbody>
                        <tr>
                            <th scope="col">
                                <label for="nombre">Generar PDF: </label>
                            </th>
                            <th scope="col">
                                <a href="/Resources/Generate-pdf" class="btn btn-danger"> Crear</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label for="nombre">Generar Excel: </label>
                            </th>
                            <th scope="col">
                                <a href="/Resources/Generate-excel" class="btn btn-danger"> Crear</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer"  }}