<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home | Golang HTML Example</title>
    </head>
    <body>
        <div>
            <h1>WELCOMO TO GOLANG SITE</h1>
            <h3>Esto es un ejemplo de un template cargado desde Golang ...</h3>
        </div>
        <div>
            <p> Ejemplo de recuperación de parametros</p>
            <ul>
                <li>      ID: {{.Id}}</li>
                <li>  Nombre: {{.nombre}}</li>
                <li>Contacto: {{.correo}}</li>
            </ul>
        </div>
    </body>
    <footer>
        <p>Aarón Hernández</p>
        <p>aaron.hg@outlook.com</p>
    </footer>
</html>